<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Hello World
    <a href="https://kauth.kakao.com/oauth/authorize?client_id=0bc522cade9c019a689ccfb2e8fbdc2a&redirect_uri=http://localhost:8080/api/auth/tokenForKakao&response_type=code">Go Kakao</a>
</body>
</html>